<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">accueil</a>
            <a href="/login">se connecter</a>
            <a href="/register">s'enregistrer</a>
        </nav>
    </header>
    <h1>hello world !!</h1>
</body>
</html>